body {
    font-family: sans-serif;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: sans-serif;
}

.light-theme {
    color: black;
    background: aqua;
}