:root {
    --black: #000000;
    --white: #FFFFFF;
    --aqua: aqua;
    --green: #00FF00;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: sans-serif;
}

.light-theme {
    --bg: var(--aqua);
    --fontColor: var(--black);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--aqua);
}